body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    margin: 20px;
    max-width: 800px;
    text-align: left;
}

h1 {
    font-size: 1.5em;
    margin: 0 0 20px 0;
    cursor: pointer;
    transition: color 0.2s ease;
}

h1:hover {
    color: #007BFF;
}

.blog-list {
    list-style-type: none;
    padding: 0;
}

.blog-list li {
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.blog-list a {
    text-decoration: none;
    color: #007BFF;
    font-weight: 400;
    transition: color 0.2s ease;
}

.blog-list a:hover {
    text-decoration: underline;
    color: #0056b3;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
